<!-- Import the header (css,navbar and stuff) -->
<% include ./partials/header %>
    <div class="container">
        <h1 class="text-center">Congratulations!</h1>
        <!-- This %=username will be fed from the server. -->
        <p class="text-center">Great job <%=username %>, you've signed up successfuly :)</p>
    </div>
<!-- Import the footer (js and stuff) -->
<% include ./partials/header %>
    
